{% extends 'admin_dashboard.html' %}
{% block admin_content %}


	<div class="card col-6 mx-auto mt-4">
	<div class="card-body">
		<form method="post">
			{% csrf_token %}
		<div class="form-group">
			<label to="title"> Enter the Title of the Blog </label>
			<input 
			class="form-control" 
			type="text"
			 name="title" 
			 id="title"
			 placeholder="Title"
			 required>
		</div>



		<div class="form-group">
			<label to="title"> Enter the Details of the Blog </label>
			<textarea
			class="form-control" 
			name="details" 
			id="details"
			placeholder="Description"
			required>
		</textarea>
		</div>




		<div class="form-group">
			<label to="title"> Upload Videos</label>
			<input
			class="form-control" 
			type="file"
			name="images" 
			id="images"
			placeholder="Upload">
		</div>

		<div class="form-group">
			<label to="title"> Enter the Author of the Blog </label>
			<input 
			class="form-control" 
			type="text"
			 name="author" 
			 id="author"
			 placeholder="author"
			 required>
		</div>

		<div class="form-group">
			<input
			class="form-control btn-primary" 
			type="submit"
			name="submit" 
			id="submit"
			value="Add Blog">
		</div>
		</div>
	</form>
</div>
</div>




{% endblock %}