{% extends 'admin_dashboard.html' %}
{% block admin_content %}


	<div class="card col-10 mx-auto mt-4">
		<div class="card-body">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
		<div class="form-group">
			<label to="title"> Enter the Title of the News </label>
			<input 
			class="form-control" 
			type="text"
			 name="title" 
			 id="title"
			 placeholder="Title"
			 required>
		</div>



		<div class="form-group">
			<label to="title"> Enter the Details of the Blog </label>
			<textarea class="form-control" rows="3" name="details" id="summernote" placeholder="Enter Your Review" required></textarea>
		</div>


		<div class="form-group">
			<label to="title"> Enter the Date of the News </label>
			<input
			class="form-control" 
			type="date"
			name="date" 
			id="date"
			placeholder="Select the Date"
			required>
		</div>



		<div class="form-group">
			<label to="title"> Upload Event Images Here </label>
			<input
			class="form-control" 
			type="file"
			name="images" 
			id="images"
			placeholder="Upload">
		</div>

		<div class="form-group">
			<input
			class="form-control btn-primary" 
			type="submit"
			name="submit" 
			id="submit"
			value="Add News">
		</div>
		</div>
	</form>
</div>
</div>



<script>
$(document).ready(function() {
  $('#summernote').summernote();
});
</script>


{% if success %}
<script>
	swal("Success", "News Added Successfully", "success");
</script>
{% endif %}

{% if failed %}
<script>
	swal("Failed", "News Addition Failed", "error");
</script>
{% endif %}


{% endblock %}