{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link rel="stylesheet" href="{% static 'css/admin_style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    </head>

    <body>
    <div class="sidebar-container">
        <div class="sidebar-logo text-center">
        GCCI
        </div>
        <ul class="sidebar-navigation">
        <br>
        <li>
            <a href="{% url 'summary' %}">
                <span class="iconify" data-icon="ci:dashboard" data-inline="false" data-width="22px" data-height="22px"></span> Dashboard
            </a>
        </li>
        <li>
            <a href="{% url 'summary' %}">
                <span class="iconify" data-icon="dashicons:testimonial" data-inline="false" data-width="22px" data-height="22px"></span> Testimonials
            </a>
        </li>
        <li class="header">Blogs & News</li>
        <li>
            <a href="{% url 'add_blogs' %}">
                <span class="iconify" data-icon="dashicons:welcome-write-blog" data-inline="false" data-width="22px" data-height="22px"></span> Add Blogs
            </a>
        </li>
        <li>
            <a href="{% url 'manage_blogs' %}">
                <span class="iconify" data-icon="fluent:notepad-edit-20-regular" data-inline="false" data-width="22px" data-height="22px"></span> Manage Blogs
            </a>
        </li>
        <li>
            <a href="{% url 'add_news' %}">
                <span class="iconify" data-icon="icon-park-outline:newspaper-folding" data-inline="false" data-width="18px" data-height="18px"></span> Add News
            </a>
        </li>
        <li>
            <a href="{% url 'manage_news' %}">
                <span class="iconify" data-icon="eos-icons:cluster-management-outlined" data-inline="false" data-width="18px" data-height="18px"></span> Manage News
            </a>
        </li>
        <li class="header">Social Works & Events</li>
        <li>
            <a href="{% url 'add_events' %}">
               <span class="iconify" data-icon="bx:bxs-calendar-event" data-inline="false" data-width="18px" data-height="18px"></span> Add Events
            </a>
        </li>
         <li>
            <a href="{% url 'manage_events' %}">
                <span class="iconify" data-icon="eos-icons:content-lifecycle-management" data-inline="false" data-width="18px" data-height="18px"></span> Manage Events
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Social Work
            </a>
        </li>
       
        <li class="header">Manufacturing</li>
        <li>
            <a href="#">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Add Products
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Manage Products
            </a>
        </li>
         <li>
            <a href="#">
                <span class="iconify" data-icon="ri:logout-circle-fill" data-inline="false" data-width="18px" data-height="18px"></span> Logout
            </a>
        </li>
    </ul>
    </div>


    <div class="content-container">{% block admin_content %} {% endblock %} </div>

</body>

</html>