{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="{% static 'css/admin_style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="sidebar-container">
  <div class="sidebar-logo text-center">
    GCCI
  </div>
  <ul class="sidebar-navigation">
    <br>
    <li>
      <a href="#">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
      </a>
    </li>
    <li class="header">Blogs & News</li>
    <li>
      <a href="#">
        <i class="fa fa-users" aria-hidden="true"></i> Add Blogs
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-cog" aria-hidden="true"></i> Manage Blogs
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Add News
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Manage News
      </a>
    </li>
    <li class="header">Social Works & Events</li>
    <li>
      <a href="#">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Add Events
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Social Work
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Manage Events
      </a>
    </li>
        <li class="header">Manufacturing</li>
         <li>
      <a href="#">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Add Products
      </a>
    </li>
     <li>
      <a href="#">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Manage Products
      </a>
    </li>
  </ul>
</div>
</div>
</body>
</html>