/* Navbar */
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #0c1616;
    font-weight: 600;
    font-size: 1.4rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #0c1616;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 0.5em 1em;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #1597c2;
}

.navbar-light .navbar-nav .nav-link:active {
    color: #21489e;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 0.5em 1em;
}

/* Top Carousel */
.responsive {
    width: 100%;
    height: auto;
}

.mainVisual_text {
    font-size: 5rem;
    font-weight: 600;
    font-style: italic;
    line-height: 1.3;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2% 3%;
    color: #fff;
    background-color: rgba(9, 58, 140, .6);
}

/* Headings */
.heading {
    font-size: 4.6rem;
    margin-bottom: 2%;
    margin-top: 5%;
    text-align: center;
    /*text-transform: uppercase;*/
}

/* Buttons */
.fillBtn {
    font-size: 1.3rem;
    display: flex;
    max-width: 200px;
    height: 40px;
    margin: 3% auto 0;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #1597c2;
}

.fillBtn:hover {
    background-color: #15aad5;!important;
    color: #fff;
}

.aboutBtn {
    font-size: 2.4rem;
    display: flex;
    max-width: 500px;
    height: 100px;
    margin: 3% auto 0;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #1597c2;
}

.aboutBtn:hover {
    background-color: #15aad5;!important;
    color: #fff;
}

.emptyBtn {
    font-size: 2.4rem;
    display: flex;
    max-width: 500px;
    height: 100px;
    margin: 3% auto 0;
    justify-content: center;
    align-items: center;
    color: #1597c2;
    background-color: #fff;
}

.emptyBtn:hover {
    color: #fff;
    background-color: #15aad5;!important;
}

/* News */
.newscard {
    background-color: #e6fbff;
    padding: 7% 5%;
    height: 220px;
    /*size: 10px 10px;*/
}
.newscard:hover {
    background-color: #e0f5f9;!important;
}

/* About GCCI */
.half {
    width: 100%;
    height: auto;
}

/* Achievements */
.achievement {
    width: 100%;
    height: 30%;
    position: relative;
}

.achievement_text {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3% 5%;
    color: #fff;
    background-color: rgba(9, 58, 140, .6);
}

/* Services */
.services {
    width: 100%;
    height: auto;
    position: relative;
}

.services_text {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3% 5%;
    color: #fff;
    background-color: rgba(9, 58, 140, .6);
}

/* Case Studies */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.casecard {
    background-color: #e6fbff;
    padding: 7% 5%;
    border: 0;
    width: 100%;
    height: 90%;
    margin-top: 8%;
    margin-bottom: 10%;
    margin-left: 1%;
    margin-right: 1%;
}

.casecard:hover {
    background-color: #e0f5f9;!important;
}

/* Location */
.map{
    width: 90%;
    height: auto;
    padding-top: 2%;
}

/* Global Offices */
.countrybtn {
    display: block;
    width: 70%;
    height: auto;
    margin: 3% auto 0;
    margin-bottom: 5%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    color: #1597c2;
    background-color: #fff;
    border: 2px solid #1597c2;
    padding: 3% 5%;
}

.countrybtn:hover {
    color: #ffffff;
    background-color: #1597c2;
    border: 2px solid #1597c2;
}

.globalimage{
    width: 100%;
    height: 100%;
}

/* Footer */
.footer{
    width: 70%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 3%;
}