/* Navbar */
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #0c1616;
    font-weight: 600;
    font-size: 1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #0c1616;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5em 1em;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #1597c2;
}

.navbar-light .navbar-nav .nav-link:active {
    color: #21489e;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5em 1em;
}

/* Top Carousel */
.responsive {
    width: 100%;
    height: auto;
}

.mainVisual_text {
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    line-height: 1.3;
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    padding: 2% 3%;
    color: #fff;
    background-color: rgba(9, 58, 140, .6);
    text-transform: uppercase;
}

/* Headings */
.heading {
    font-size: 3.5rem;
    margin-bottom: 2%;
    margin-top: 4%;
    text-align: center;
    text-transform: uppercase;
}

.blue_heading {
    font-size: 3rem;
    margin-bottom: 4%;
    margin-top: 3%;
    text-align: center;
    text-transform: uppercase;
    color: #093a8c;
}

.headingbg {
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 10px;
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Buttons */
.fillBtn {
    font-size: 1.3rem;
    display: flex;
    max-width: 200px;
    height: 40px;
    margin: 3% auto 0;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #1597c2;
}

.fillBtn:hover {
    background-color: #15aad5;!important;
    color: #fff;
}

.aboutBtn {
    font-size: 2.4rem;
    display: flex;
    max-width: 500px;
    height: 100px;
    margin: 3% auto 0;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #1597c2;
}

.aboutBtn:hover {
    background-color: #15aad5;!important;
    color: #fff;
}

.emptyBtn {
    font-size: 2rem;
    display: flex;
    max-width: 500px;
    height: 80px;
    margin: 3% auto 0;
    justify-content: center;
    align-items: center;
    color: #1597c2;
    background-color: #fff;
    font-weight: bold;
}

.emptyBtn:hover {
    color: #fff;
    background-color: #1ac5f3;!important;
}

.train_Btn {
    font-size: 1.5rem;
    display: flex;
    max-width: 450px;
    height: 80px;
    margin: 3% auto 0;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #1597c2;
    margin-bottom: 2%;
}

.train_Btn:hover {
    background-color: #15aad5;!important;
    color: #fff;
}

/* News */
.newscard {
    background-color: #e6fbff;
    padding: 7% 5%;
    height: 10rem;
    margin-bottom: 4px;
}

.newscard:hover {
    background-color: #e0f5f9;!important;
}

.newspage {
    padding: 10px 0;
    font-size: 1.5rem;
}

/* About GCCI */
.half {
    width: 100%;
    height: auto;
}

/* Achievements */
.achievement {
    width: 100%;
    height: 350px;
    position: relative;
}

.achievement_text {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: rgba(9, 58, 140, .6);
}

.achievement h1{
    font-size: 6rem;
    padding-top: 35%;
}

/* Case Studies */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.casecard {
    background-color: #e6fbff;
    padding: 7% 5%;
    border: 0;
    width: 100%;
    height: 90%;
    margin-top: 8%;
    margin-bottom: 10%;
    margin-left: 1%;
    margin-right: 1%;
}

.casecard:hover {
    background-color: #e0f5f9;!important;
}

/* Location */
.map{
    width: 90%;
    height: auto;
    padding-top: 2%;
}

/* Global Offices */
.countrybtn {
    display: block;
    width: 70%;
    height: auto;
    margin: 3% auto 0;
    margin-bottom: 5%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    color: #1597c2;
    background-color: #fff;
    border: 2px solid #1597c2;
    padding: 3% 5%;
}

.countrybtn:hover {
    color: #ffffff;
    background-color: #1597c2;
    border: 2px solid #1597c2;
}

.globalimage{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Footer */
.footer{
    overflow: hidden;
    margin-top: 80px;
    background: #02122f;
    color: white !important;
    margin-bottom: 0;
    padding-top: 10px;
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}


/* Services */
.services {
    width: 100%;
    height: auto;
    position: relative;
}

.services_text {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2% 3%;
    color: #fff;
    background-color: rgba(19, 140, 187, .8);
}

.service_btn {
    display: inline-flex;
    width: 25rem;
    height: 80px;
    margin: 20% auto 0;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    color: #1597c2;
    background-color: #fff;
    border: 2px solid #1597c2;

}

.service_btn:hover {
    color: #ffffff;
    background-color: #1597c2;
    border: 2px solid #1597c2;
}

.image{
    padding-top: 3%;
    padding-bottom: 5%;
}

/* Organisations benefited */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}
/* end slider */


/*For desktop*/
@media(max-width:1920px) {
    .mainVisual_text{
        font-size: 3em;
    }
}


/*For Ipad*/
@media(max-width:768px) {
    .mainVisual_text{
        font-size: 1.5em;
    }

    .heading {
        font-size: 3em;
    }

    .aboutBtn {
        font-size: 2.2rem;
        max-width: 300px;
        height: 80px;
    }

    .emptyBtn {
        font-size: 1.5rem;
        max-width: 320px;
        height: 50px;
        margin: 2% auto 0;
    }
}


/*For Mobile*/
@media(max-width:411px) {
    .mainVisual_text {
        font-size: 1em;
    }

    .heading {
        font-size: 2em;
    }
}

/* Timeline */

.main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid #232323;
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #daffff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0;
    color: #000079;
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}

/* Timeline Ends */

/* Counter */
.counter-section i {
    display: block;
    margin: 0 0 10px
}

.counter-section span.counter {
    font-size: 40px;
    color: #000;
    line-height: 60px;
    display: block;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px
}

.counter-title {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.counter-icon {
    top: 25px;
    position: relative
}

.counter-style2 .counter-title {
    letter-spacing: 0.55px;
    float: left
}

.counter-style2 span.counter {
    letter-spacing: 0.55px;
    float: left;
    margin-right: 10px
}

.counter-style2 i {
    float: right;
    line-height: 26px;
    margin: 0 10px 0 0
}

.counter-subheadline span {
    float: right
}

.medium-icon {
    font-size: 40px !important;
    margin-bottom: 15px !important
}

/* Counter End */

/* Chart */
.flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

.cardchart {
    background: #fff;
    border-width: 0;
}

/* Accomplish */
.footericon {
    color: white;
    width: 80px;
    height: 80px;
}

/* Tabs */
.sectiont {
    padding-top: 60px;
}

#tabs{
	background: white;
    color: #1c0303;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0a0101;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}


/* Modal CSS in Testimonial */
.modal-header, .modalbtn {
    background-color: #01b0f8;
    font-weight: bold;
    color: white;
}


/* Testimonial carousel 1 [To Be Edited] */
.gtco-testimonials {
    position: relative;
    margin-top: 30px;
}

.gtco-testimonials h2 {
    font-size: 30px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
}

.gtco-testimonials .owl-stage-outer {
    padding: 30px 0;
}

.gtco-testimonials .owl-nav {
    display: none;
}

.gtco-testimonials .owl-dots {
    text-align: center;
}

.gtco-testimonials .owl-dots span {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    background: #fff;
    border: 2px solid #01b0f8;
    margin: 0 5px;
}

.gtco-testimonials .owl-dots .active {
    box-shadow: none;
}

.gtco-testimonials .owl-dots .active span {
    background: #01b0f8;
    box-shadow: none;
    height: 12px;
    width: 12px;
    margin-bottom: -1px;
}

.gtco-testimonials .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
}

.gtco-testimonials .card .card-img-top {
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
}

.gtco-testimonials .card h5 {
    color: #01b0f8;
    font-size: 21px;
    line-height: 1.3;
}

.gtco-testimonials .card h5 span {
    font-size: 18px;
    color: #666666;
}

.gtco-testimonials .card p {
    font-size: 18px;
    color: #555;
    padding-bottom: 15px;
}

.gtco-testimonials .active {
    opacity: 0.5;
    transition: all 0.3s;
}

.gtco-testimonials .center {
    opacity: 1;
}

.gtco-testimonials .center h5 {
    font-size: 24px;
}

.gtco-testimonials .center h5 span {
    font-size: 20px;
}

.gtco-testimonials .center .card-img-top {
    max-width: 100%;
    height: 120px;
    width: 120px;
}

@media (max-width: 767px) {
    .gtco-testimonials {
        margin-top: 20px;
    }
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    outline: 0;
}

.owl-carousel button.owl-dot {
    outline: 0;
}


/* Contact Us */
.contact_bg {
    color: white;
    background-color: #15aad5;
    padding: 15px 15px;
}

.contact_content {
    padding: 15px 50px;
}

.contact_head {
    color: #1596c1;
    font-weight: bold;
    padding: 10px 0 0 0;
}

/* Upload image */
.gcci--image--card {
    margin: auto;
    display: table;
    /* background: rgb(250, 245, 245); */
}

.gcci--profile--images {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.gcci--profile--images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gcci--custom--file input[type="file"] {
    display: none;
}

.gcci--custom--file label {
    cursor: pointer;
    text-align: center;
    display: table;
    margin: auto;
    /* margin-top: 15px; */
}