{% extends 'Navbar.html' %}{% load static %}{% block landing %}

<main>
     <!-- Top Carousel -->
    <div class="mt-4 pt-5">
        <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'assets/images/Banner 1.jpg' %}" alt="About US Banner" class="responsive">
                </div>
            </div>
                <div class="services_text">
                    <p><i>GCCI is a Business Consulting and Services co-operation group company formed advisory
                        councils with corporate seniors & Global experts for focused objectives.</i></p>
                </div>
        </div>
    </div>

    <div class="container-fluid px-0 overflow-hidden">
            <div class="container">
                <br/>
                <h2 class="blue_heading" style="color: #093a8c;">About Us</h2>
                <p>We are having service alliances with <b>Global expert and JIPM Lead Assessor Mr. Yoshitaka
                    Murase from Japan </b> with his advisory guidance, Also proffering service alliance from
                    various experts from overseas and India for the world best/advanced concepts
                    & specialized/unique systems for offering the best global practices and services.</p>

                <h2><b>Director's Journey</b></h2>
                <hr/>
                <center>
                    <img src="{% static 'assets/images/director.jpg' %}" alt="director" class="image" style="padding-bottom: 1%;">
                    <p><b>Yuvaraj Sithaiyan<br/>Director, Lead - Enterprise System Design</b></p>
                </center>

                <!--Timeline-->
                <div class="container" >
                    <div class="main-timeline">

                        <!-- start experience section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">5 Years</span>
                                    <span class="year">1990</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">South India Viscose Ltd. (Coimbatore)</h5>
                                <p class="description">
                                    Maintenance
                                </p>
                            </div>
                        </div>
                        <!-- end experience section-->

                            <!-- start experience section-->
                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                                <span class="month">1 Year</span>
                                        <span class="year">1995</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">Balmer Lawry Freight Containers Ltd. (Chennai)</h5>
                                    <p class="description">
                                       Maintenance
                                    </p>
                                </div>
                            </div>
                            <!-- end experience section-->

                            <!-- start experience section-->
                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                                <span class="month">11 Years</span>
                                        <span class="year">1996</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">Tube Products of India, Murugappa Group (Pune & Chennai)</h5>
                                    <p class="description">
                                        Mfg. / PE / Projects / TPM Coordinator
                                    </p>
                                </div>
                            </div>
                            <!-- end experience section-->

                            <!-- start experience section-->
                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                                <span class="month">12 Years</span>
                                        <span class="year">2006</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">CII - TPM Club India (Pune)</h5>
                                    <p class="description">
                                        Sr. Counsellor
                                    </p>
                                </div>
                            </div>
                            <!-- end experience section-->

                            <!-- start experience section-->
                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                                <span class="month">3.9 Years</span>
                                        <span class="year"><h4><b>PRESENT</b></h4></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">Global Corporate Council India (Pune)</h5>
                                    <p class="description">
                                       Director, Lead - Enterprise System Design
                                    </p>
                                </div>
                            </div>
                            <!-- end experience section-->
                        </div>
                    </div>
                <!--Timeline Code Ends-->

                <!--Achivements-->
                <section class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                    <div class="container">
                        <div class="row">
                            <!-- counter -->
                            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated"
                                 data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;">
                                <span class="iconify footericon" data-icon="emojione:clinking-beer-mugs" data-inline="false" style="color: black"></span>
                                <span id="anim-number-pizza" class="counter-number"></span>
                                <span class="timer counter alt-font appear" data-to="980" data-speed="7000">2800</span>
                                <p class="counter-title">Beer Ordered</p>
                            </div> <!-- end counter -->

                            <!-- counter -->
                            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated"
                                 data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeInUp;">
                                <span class="iconify footericon" data-icon="fluent:people-community-28-filled" data-inline="false" style="color: black"></span>
                                <span class="timer counter alt-font appear" data-to="980" data-speed="7000">980</span>
                                <span class="counter-title">Happy Clients</span>
                            </div>
                            <!-- end counter -->

                            <!-- counter -->
                            <div class="col-md-3 col-sm-6 bottom-margin-small text-center counter-section wow fadeInUp xs-margin-bottom-ten animated"
                                 data-wow-duration="900ms" style="visibility: visible; animation-duration: 900ms; animation-name: fadeInUp;">
                                <span class="iconify footericon" data-icon="octicon:project-16" data-inline="false" style="color: black"></span>
                                <span class="timer counter alt-font appear" data-to="810" data-speed="7000">810</span>
                                <span class="counter-title">Projects Completed</span>
                            </div>
                            <!-- end counter -->

                            <!-- counter -->
                            <div class="col-md-3 col-sm-6 text-center counter-section wow fadeInUp animated" data-wow-duration="1200ms"
                                 style="visibility: visible; animation-duration: 1200ms; animation-name: fadeInUp;">
                                <span class="iconify footericon" data-icon="openmoji:viennese-coffee-house" data-inline="false" style="color: black"></span>
                                <span class="timer counter alt-font appear" data-to="600" data-speed="7000">600</span>
                                <span class="counter-title">Clients Served</span>
                            </div>
                            <!-- end counter -->
                        </div>
                    </div>
                </section>
                <!--Achievements End-->
                <ul>
                    <li>GCCI operating from Pune, India. Founded by <b>Mr.Yuvaraj Sithaiyan</b>, Mechanical Engineer with
                        over all 32 Yrs. experience. <b>JIPM Certified </b>TPM Facilitator (Year 2004).</li>
                    <li>GCCI teams collective experience in TPM will adds to<b>175+ Yrs.</b>  & in Manufacturing
                        <b>77+ Yrs.</b> We spread across India.</li>
                    <li>Conducted Trainings Approx.<b>7,21,000 + man Hrs.</b>  for<b>1,06,000 people</b>  across the Country
                        and Global level.</li>
                    <li>Supported for accomplishing <b>45 JIPM Awards </b>(Special+ Consistency + Excellence Awards)</li>
                    <li>Associated and Challenged –<b> 90+ JIPM Assessments</b></li>
                    <li>Supporting to Rejuvenate and Sustain The Achieved<b>TPM Results For 16+ Companies</b> </li>
                    <li>Assessor for (EFQM) Business Excellence model for<b>9 Assessments</b> .</li>
                    <li>TPM Health Check-up Assessments done for <b>61+</b>  Excellence and Consistency Levels & Special
                    Awards.</li>
                    <li>Instrumental for developing many <b> Success Strategies</b> and TPM Specific training material
                    and Programs.</li>
                </ul>
            </div>

    </div>

</main>

{% endblock landing %}