{% extends 'Navbar.html' %}{% load static %}{% block landing %}

<main>
     <!-- Top Carousel -->
    <div class="mt-4 pt-5">
        <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'assets/images/Banner 1.jpg' %}" alt="About US Banner" class="responsive">
                </div>
            </div>
            <div class="mainVisual_text">
                <p>ABOUT US</p>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0 overflow-hidden">
        <div class="container">
            <br/>
            <p><b>GCCI is a Business Consulting and Services co-operation group company formed advisory
                        councils with corporate seniors & Global experts for focused objectives.</b></p>
            <p>We are having service alliances with <b>Global expert and JIPM Lead Assessor Mr. Yoshitaka
                Murase from Japan </b> with his advisory guidance, Also proffering service alliance from
                various experts from overseas and India for the world best/advanced concepts
                & specialized/unique systems for offering the best global practices and services.</p>

            <center>
            <h2 class="heading"><b>Director's Journey</b></h2>
            <hr/>
                <img src="{% static 'assets/images/director.jpg' %}" alt="director" class="image" style="padding-bottom: 1%;">
                <p><b>Yuvaraj Sithaiyan<br/>Director, Lead - Enterprise System Design</b></p>
            </center>

            <!-- Timeline -->
            <div class="container" >
                <div class="main-timeline">

                    <!-- start experience section-->
                    <div class="timeline">
                        <div class="icon"></div>
                        <div class="date-content">
                            <div class="date-outer">
                                <span class="date">
                                        <span class="month">5 Years</span>
                                <span class="year">1990</span>
                                </span>
                            </div>
                        </div>
                        <div class="timeline-content">
                            <h5 class="title">South India Viscose Ltd. (Coimbatore)</h5>
                            <p class="description">
                                Maintenance
                            </p>
                        </div>
                    </div>
                    <!-- end experience section-->

                    <!-- start experience section-->
                    <div class="timeline">
                        <div class="icon"></div>
                        <div class="date-content">
                            <div class="date-outer">
                                <span class="date">
                                        <span class="month">1 Year</span>
                                <span class="year">1995</span>
                                </span>
                            </div>
                        </div>
                        <div class="timeline-content">
                            <h5 class="title">Balmer Lawry Freight Containers Ltd. (Chennai)</h5>
                            <p class="description">
                               Maintenance
                            </p>
                        </div>
                    </div>
                    <!-- end experience section-->

                    <!-- start experience section-->
                    <div class="timeline">
                        <div class="icon"></div>
                        <div class="date-content">
                            <div class="date-outer">
                                <span class="date">
                                        <span class="month">11 Years</span>
                                <span class="year">1996</span>
                                </span>
                            </div>
                        </div>
                        <div class="timeline-content">
                            <h5 class="title">Tube Products of India, Murugappa Group (Pune & Chennai)</h5>
                            <p class="description">
                                Mfg. / PE / Projects / TPM Coordinator
                            </p>
                        </div>
                    </div>
                    <!-- end experience section-->

                    <!-- start experience section-->
                    <div class="timeline">
                        <div class="icon"></div>
                        <div class="date-content">
                            <div class="date-outer">
                                <span class="date">
                                        <span class="month">12 Years</span>
                                <span class="year">2006</span>
                                </span>
                            </div>
                        </div>
                        <div class="timeline-content">
                            <h5 class="title">CII - TPM Club India (Pune)</h5>
                            <p class="description">
                                Sr. Counsellor
                            </p>
                        </div>
                    </div>
                    <!-- end experience section-->

                    <!-- start experience section-->
                    <div class="timeline">
                        <div class="icon"></div>
                        <div class="date-content">
                            <div class="date-outer">
                                <span class="date">
                                        <span class="month">3.9 Years</span>
                                <span class="year"><h4><b>PRESENT</b></h4></span>
                                </span>
                            </div>
                        </div>
                        <div class="timeline-content">
                            <h5 class="title">Global Corporate Council India (Pune)</h5>
                            <p class="description">
                               Director, Lead - Enterprise System Design
                            </p>
                        </div>
                    </div>
                    <!-- end experience section-->
                </div>
            </div>
            <!-- Timeline Code Ends -->

            <!-- Accomplished -->
            <section class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                <div class="container">
                    <center>
                    <h2 class="heading"><b>We Accomplished</b></h2>
                    <hr/>
                    </center>
                    <div class="row">
                        <!-- counter -->
                        <div class="col-md-2 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated"
                             data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;">
                            <span class="iconify footericon" data-icon="emojione:tear-off-calendar" data-inline="false"></span>
                            <h4><span class="timer counter alt-font appear" data-to="980" data-speed="7000">175</span></h4>
                            <p class="counter-title">Years of Experience in TPM</p>
                        </div>
                        <!-- end counter -->

                        <!-- counter -->
                        <div class="col-md-2 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated"
                             data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeInUp;">
                            <span class="iconify footericon" data-icon="twemoji:building-construction" data-inline="false"></span>
                            <span class="timer counter alt-font appear" data-to="980" data-speed="7000">77</span>
                            <span class="counter-title">Years of Experience in Manufacturing</span>
                        </div>
                        <!-- end counter -->

                        <!-- counter -->
                        <div class="col-md-2 col-sm-6 bottom-margin-small text-center counter-section wow fadeInUp xs-margin-bottom-ten animated"
                             data-wow-duration="900ms" style="visibility: visible; animation-duration: 900ms; animation-name: fadeInUp;">
                            <span class="iconify footericon" data-icon="noto-v1:trophy" data-inline="false"></span>
                            <span class="timer counter alt-font appear" data-to="810" data-speed="7000">45</span>
                            <span class="counter-title">JIPM Awards Accomplished</span>
                        </div>
                        <!-- end counter -->

                        <!-- counter -->
                        <div class="col-md-2 col-sm-6 text-center counter-section wow fadeInUp animated" data-wow-duration="1200ms"
                             style="visibility: visible; animation-duration: 1200ms; animation-name: fadeInUp;">
                           <span class="iconify footericon" data-icon="emojione:books" data-inline="false"></span>
                            <span class="timer counter alt-font appear" data-to="600" data-speed="7000">90</span>
                            <span class="counter-title">JIPM Assessments Challenged</span>
                        </div>
                        <!-- end counter -->

                        <!-- counter -->
                        <div class="col-md-2 col-sm-6 text-center counter-section wow fadeInUp animated" data-wow-duration="1200ms"
                             style="visibility: visible; animation-duration: 1200ms; animation-name: fadeInUp;">
                           <span class="iconify footericon" data-icon="noto:rocket" data-inline="false"></span>
                            <span class="timer counter alt-font appear" data-to="600" data-speed="7000">16</span>
                            <span class="counter-title">Companies Achieved TPM Results</span>
                        </div>
                        <!-- end counter -->

                        <!-- counter -->
                        <div class="col-md-2 col-sm-6 text-center counter-section wow fadeInUp animated" data-wow-duration="1200ms"
                             style="visibility: visible; animation-duration: 1200ms; animation-name: fadeInUp;">
                            <span class="iconify footericon" data-icon="noto-v1:man-health-worker-light-skin-tone" data-inline="false"></span>
                            <span class="timer counter alt-font appear" data-to="600" data-speed="7000" style="white-space:nowrap;">61</span>
                            <span class="counter-title">TPM Health Check-up Assessments</span>
                        </div>
                        <!-- end counter -->
                    </div>
                </div><br/><br/><br/>
            </section>
            <!-- Achievements End -->

            <!-- Accomplished card -->
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card newscard" style="height: auto; padding-top: 50px;">
                        <p class="card-text">
                            <ul style="list-style-type: none; font-size: 1.5rem;">
                                <div class="row">
                                    <div class="col-lg-1">
                                        <span class="iconify" data-icon="si-glyph:star-stick" data-inline="false"
                                              data-width="24" data-height="24"></span>
                                    </div>
                                    <div class="col-lg-11">
                                        <li>GCCI operating from Pune, India. Founded by <b>Mr.Yuvaraj Sithaiyan</b>,
                                            Mechanical Engineer with over all 32 Yrs. experience. <b>JIPM Certified </b>
                                            TPM Facilitator (Year 2004).</li>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-1">
                                        <span class="iconify" data-icon="si-glyph:star-stick" data-inline="false"
                                              data-width="24" data-height="24"></span>
                                    </div>
                                    <div class="col-lg-11">
                                        <li>Conducted Trainings Approx.<b>7,21,000 + man Hrs.</b>  for
                                            <b>1,06,000 people</b>  across the Country and Global level.
                                            We spread across India.</li>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-1">
                                        <span class="iconify" data-icon="si-glyph:star-stick" data-inline="false"
                                              data-width="24" data-height="24"></span>
                                    </div>
                                    <div class="col-lg-11">
                                        <li>Assessor for (EFQM) Business Excellence model for <b>9 Assessments</b>.</li>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-1">
                                        <span class="iconify" data-icon="si-glyph:star-stick" data-inline="false"
                                              data-width="24" data-height="24"></span>
                                    </div>
                                    <div class="col-lg-11">
                                        <li>Excellence and Consistency Levels & Special Awards.</li>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-1">
                                        <span class="iconify" data-icon="si-glyph:star-stick" data-inline="false"
                                              data-width="24" data-height="24"></span>
                                    </div>
                                    <div class="col-lg-11">
                                        <li>Instrumental for developing many <b> Success Strategies</b> and TPM Specific
                                            training material and Programs.</li>
                                    </div>
                                </div>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>

{% endblock landing %}