{% extends 'Navbar.html' %}{% load static %}{% block landing %}

<main>
    <!-- Top Carousel -->
    <div class="mt-4 pt-5">
        <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel" style="margin-bottom: 20px;">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'assets/images/achievements.jpg' %}"
                         alt="Banner Image 2" class="responsive" />
                </div>
                <div class="mainVisual_text" >
                    <h2 style="font-size: 4.5rem; padding: 20px 20px;">OUR ACHIEVEMENTS</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0 overflow-hidden">
        <!-- Doughnut Charts -->
        <div class="row-lg-2">
            <div class="col">
                <h2 class="heading">45 JIPM AWARDS WITH 90 ASSESSMENTS</h2>
            </div>
        </div>

        <div class="row mt-5 justify-content-md-center">
            <div class="col-xl-3">
                <div class="cardchart m-b-30">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Supported for 24 JIPM Awards</h4>
                        <h4 style="color: green;">Present (Post July 2017)</h4>
                        <canvas id="chart-line1" width="299" height="200" class="chartjs-render-monitor"
                                style="display: block; width: 299px; height: 200px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cardchart m-b-30">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Supported for 21 JIPM Awards</h4>
                        <h4 style="color: brown;">Historical (Prior July 2017)</h4>
                       <canvas id="chart-line2" width="299" height="200" class="chartjs-render-monitor"
                               style="display: block; width: 299px; height: 200px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cardchart m-b-30">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">In progress 33 JIPM Awards</h4>
                        <h4 style="color: darkviolet;">Future (Post Feb 2021)</h4>
                        <canvas id="chart-line3" width="299" height="200" class="chartjs-render-monitor"
                                style="display: block; width: 299px; height: 200px;"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tangible Results-->
        <h2 class="heading"> Tangible Results</h2>
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="table-responsive table-bordered">
                    <table class="table table-striped mb-0 table-hover">
                        <thead style="background-color: #15aad5; color: white;">
                            <tr class="text-center" style="font-size: x-large; text-transform: uppercase;">
                                <th>Category</th>
                                <th>Achieved</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>EBIDTA </td>
                                <td>25%
                                    <span class="iconify" data-icon="el:arrow-up" data-inline="false" style="color: green;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>ITR RATIO </td>
                                <td>Improved Min. 4 to Max. 68
                                    <span class="iconify" data-icon="el:arrow-up" data-inline="false" style="color: green;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>TURNOVER </td>
                                <td>New Business added
                                    <span class="iconify" data-icon="bx:bx-plus-medical" data-inline="false" style="color: green;"></span>
                                     , Turnover Doubled
                                    <span class="iconify" data-icon="bx:bx-plus-medical" data-inline="false" style="color: green;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>MANUFACTURING COST </td>
                                <td>31%
                                    <span class="iconify" data-icon="el:arrow-down" data-inline="false" style="color: green;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>ASSET UTILIZATION RATIO </td>
                                <td>Improved Min. 31% to Max. >75%
                                    <span class="iconify" data-icon="el:arrow-up" data-inline="false" style="color: green;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>CUSTOMER COMPLAINT </td>
                                <td>Achieved Zero
                                    <span class="iconify" data-icon="el:arrow-down" data-inline="false" style="color: green;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>INPROCESS REJECTION </td>
                                <td>Achieved Zero
                                    <span class="iconify" data-icon="el:arrow-down" data-inline="false" style="color: green;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>INHOUSE REJECTION </td>
                                <td>Achieved Close to Zero
                                    <span class="iconify" data-icon="el:arrow-down" data-inline="false" style="color: green;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>S&A RANK MC BREAKDOWN </td>
                                <td>Achieved Zero
                                    <span class="iconify" data-icon="el:arrow-down" data-inline="false" style="color: green;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>PLANT LEVEL BREAKDOWN </td>
                                <td>98%
                                    <span class="iconify" data-icon="el:arrow-down" data-inline="false" style="color: green;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>PLANT LEVEL ACCIDENT </td>
                                <td>Achieved & Sustained Zero
                                    <span class="iconify" data-icon="el:arrow-down" data-inline="false" style="color: green;"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Images of information -->
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-md-5">
                    <img src="{% static 'assets/images/achievements1.jpg' %}" alt="Companies survived with good profit recession">
                </div>
            </div>
        </div>

        <!-- Intangible Results-->
        <h2 class="heading"> Intangible Results</h2>
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="table-responsive table-bordered">
                    <table class="table table-striped mb-0 table-hover">
                        <thead style="background-color: #15aad5; color: white;">
                            <tr class="text-center" style="font-size: x-large; text-transform: uppercase;">
                                <th>Category</th>
                                <th>Achieved</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>EMPLOYEE ENGAGEMENT LEVEL </td>
                                <td>5-10 Times
                                    <span class="iconify" data-icon="el:arrow-up" data-inline="false" style="color: green;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>DAILY WORK MANAGEMENT </td>
                                <td>Established Objectives based
                                    <span class="iconify" data-icon="el:arrow-up" data-inline="false" style="color: green;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>EMPLOYEE SATISFACTION LEVEL </td>
                                <td>Multiplied
                                    <span class="iconify" data-icon="bx:bx-plus-medical" data-inline="false" style="color: green;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>PEOPLE KNOWLEDGE AND CAPABILITY </td>
                                <td>Improved Exponentially
                                    <span class="iconify" data-icon="el:arrow-up" data-inline="false" style="color: green;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>ORGANISATION CULTURAL </td>
                                <td>Transformation with Teamwork
                                    <span class="iconify" data-icon="el:arrow-up" data-inline="false" style="color: green;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>STAKEHOLDER DELIGHT </td>
                                <td>Met Beyond Expectations
                                    <span class="iconify" data-icon="el:arrow-up" data-inline="false" style="color: green;"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Images of information -->
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-md-7 offset-md-5">
                    <img class="float-right" src="{% static 'assets/images/achievements2.jpg' %}" alt="Provide Services">
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock landing %}