{% extends 'Navbar.html' %}{% load static %}{% block landing %}

<main>
    <!-- Top Carousel -->
    <div class="mt-4 pt-5">
        <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel" style="margin-bottom: 20px;">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'assets/images/Banner 2.jpg' %}"
                         alt="Banner Image 2" class="responsive" />
                </div>
                <div class="mainVisual_text" >
                    <h2 style="font-size: 3rem; padding: 25px 50px;">Environment</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0 overflow-hidden">
        <!-- Tabs -->
        <section id="tabs" class="sectiont">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 ">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" href="{% url 'Environment' %}">Environment</a>
                                <a class="nav-item nav-link" href="{% url 'Education' %}">Education</a>
                                <a class="nav-item nav-link" href="{% url 'Spirituality' %}">Spirituality</a>
                                <a class="nav-item nav-link" href="{% url 'Culture' %}">Culture</a>
                            </div>
                        </nav>
                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active">
                                Real change comes when people give not just their resources, but their time as well.
                                At Mahindra, we’re fortunate to be able to give both. Our initiatives harness thousands
                                of employee volunteer hours and millions of dollars into nurturing the environment – our
                                greatest and most valuable resource.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tabs -->

    </div>
</main>

{% endblock landing %}