{% extends 'Navbar.html' %}{% load static %}{% block landing %}
<main>
    <!-- Top Carousel -->
    <div class="mt-4 pt-5">
        <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'assets/images/Banner 1.jpg' %}" alt="Innovation Management" class="responsive" style="max-height: 300px;">
                </div>
            </div>
                <div class="services_text" style="padding: 8% 8%;">
                    <h1 class="text-light text-center" style="font-size: 5rem;"><b>CONSULTING</b></h1>
                </div>
        </div>
    </div>
    <div class="container-fluid px-0 overflow-hidden">

        <!-- Innovation -->
        <div>
            <div class="container">
                <br/>
                <h2 class="blue_heading" style="color: #093a8c;">Innovation Management</h2>
                <p>In order to continuously provide and improve value in a timely manner to the
                    world’s customers, companies must improve several competencies. At JMAC we
                    are supporting borderless R&D in manufacturing as the driving force behind
                    developing unceasing value innovation and business innovation with technology
                    at its core. JMAC believes borderless R&D can be the innovating force behind
                    organizations and people who believe in this innovative way of thinking.</p>

                <center><img src="{% static 'assets/images/innovation.jpg' %}" alt="innovation" class="image"></center>
                <h2><b>Strategy</b></h2>
                <hr/>
                <p>Recently, the basic thinking towards R&D strategy has been changing. Previously, “strategy”
                    was centered around being systematically formulated based on accurate analysis and forecasts
                    (systematic approach). However, in these modern times, “strategy” is beginning to be formed
                    from changes connected with the external environment and results gained from daily activities
                    in the workplace (emerging approach). This type of thinking has been incorporated into the
                    engineering strategy innovation “Technology Canvas” consulting program. Also, we have our
                    “Future Concepts” program aimed at attractive customer value creation for the future, and
                    “R&D Capability Diagnosis” which provides a diagnosis of the direction of your R&D innovation,
                    all of which are helpful for ever organization’s strategy formulation.</p>
                <h2><b>Product</b></h2>
                <hr/>
                <p>An attractive product is thought to be one that is attractive to both the customer and
                    organization. An attractive product for the customer provides value extending beyond what
                    previously existed. In order to realize this, JMAC provides product innovation consulting
                    services through our “Attractive Product Creation” and “Purpose Development” programs. Also,
                    in order to create an attractive product for the organization, maintaining a profit is an
                    ongoing issue. JMAC provides a profit innovation consulting service through product innovation
                    with our long-successful programs ”VRP”, ”Cost Half Program” and “Cost Planning”.</p>
                <h2><b>Process</b></h2>
                <hr/>
                <p>Diversified customer needs and the shortening of product life cycles are each year increasing
                    the demand for reduced development times. In order to realize these reduced development times,
                    it is necessary to probe into the development process in a more drastic way than ever before.
                    JMAC has supported various organizations making good use of methods such as our
                    “Technical Roadmap” and “Development Platform” programs. In order to realize new concurrent
                    engineering that is not biased by previous concepts, we are providing tailored RAPID process
                    and agile development process innovation consulting services.</p>
                <h2><b>Person</b></h2>
                <hr/>
                <p>We help realize productivity improvement from an organization’s collection of
                    minds – engineers, researchers and designers. At JMAC, we have a flagship
                    program that vitalizes technical staff and organizations called the
                    Engineering KI Program. Through the activities in this program, team building
                    and leadership development realize workplace potential and vitalize the
                    organizational climate. We have introduced this program to many of Japan’s
                    most famous manufacturers and information system development companies, and
                    now have results with 250 companies and 20,000 participants. At the core of
                    this consulting program include visualization, waigaya (open discussion) and
                    kiduki (awareness). It is said to be the pioneer program for the
                    visualization boom.</p>
                <br/>
            </div>
        </div>
        <div class="row" style="background-color: #e6fbff; height: 35%;">
            <div class="container">
                <h1 class="image"><b>Lean Manufacturing Services</b></h1>
                <div class="row">
                    <div class="col-md-4">
                        <a class="btn train_Btn" href="">Production Strategy & Production System Design</a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn train_Btn" href="">Productivity Improvement & Cost Reduction</a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn train_Btn" href="">Quality Management</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a class="btn train_Btn" href="" style="margin-bottom: 15%">Supply Chain Management</a>
                    </div>
                </div>
            </div>
            </div>

        <!-- Services -->
        <h2 class="heading">Services</h2>
        <div class="mt-4 pt-5">
            <div class="carousel slide pointer-event" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img src="{% static 'assets/images/about_jmac.jpg' %}" alt="" class="services" />
                    </div>
                    <div class="services_text">
                        <div class="row services">
                            <center>
                                <h3 class="heading" style="font-size: 3rem; color: white">Consulting</h3>
                                <p>As the consulting firm that contributed to the foundations of Lean/TPS and TPM<sup>®</sup>,
                                    we adopt the principles of Lean thinking in our consulting projects across all
                                    industries and processes. </p>
                            </center>
                        </div>
                        <div class="row services">
                            <div class="col-md-6">
                                <a class="btn emptyBtn" style="margin-top: 8%; margin-right: 3%;" href="{% url 'lean_manufacturing' %}">
                                    Lean Manufacturing</a>
                            </div>
                            <div class="col-md-6">
                                <a class="btn emptyBtn" style="margin-top: 8%; margin-left: 3%;" href="{% url 'smart_factory' %}">
                                    Smart Factory / IoT</a>
                            </div>
                        </div>
                        <div class="row services">
                            <div class="col-md-12">
                                <a class="btn emptyBtn" href="">TPM</a>
                            </div>
                        </div>
                        <div class="row services">
                            <div class="col-md-6">
                                <a class="btn emptyBtn" style="margin-top: 8%; margin-right: 3%;" href="{% url 'innovation_management' %}">
                                    Innovation Management</a>
                            </div>
                            <div class="col-md-6">
                                <a class="btn emptyBtn" style="margin-top: 8%; margin-left: 3%;" href="{% url 'services_and_sales' %}">
                                    Service &amp; Sales Innovation</a>
                            </div>
                        </div>
                        <div class="row services">
                            <div class="col-md-6">
                                <a class="btn emptyBtn" style="margin-top: 8%; margin-right: 3%;" href="{% url 'organization_and_hr' %}">
                                    Organization &amp; HR</a>
                            </div>
                            <div class="col-md-6">
                                <a class="btn emptyBtn" style="margin-top: 8%; margin-left: 3%;" href="">
                                    Japan Market Entry</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Training -->
        <div style="background-color: #e6fbff;">
            <br>
            <h1 class="text-center" style="padding-top: 30px">Training</h1>
            <center>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <p>Our well-versed consultants offer training programs filled with know-how on problem
                              solving for business challenges, leveraging their consultation experience.</p>
                        <a class="btn fillBtn" href="" style="margin-bottom: 80px">See More</a>
                    </div>
                </div>
            </center>
        </div>
    </div>
</main>

{% endblock landing %}
