{% extends 'Navbar.html' %}{% load static %}{% block landing %}

<main>
    <!-- Top Carousel -->
    <div class="mt-4 pt-5">
        <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'assets/images/Banner 1.jpg' %}" alt="Services Banner" class="responsive">
                </div>
            </div>
                <div class="services_text">
                    <h1 class="text-light" style="font-size: xxx-large"><b>Manufacturing</b></h1>
                    <p><i>As the consulting firm that contributed to the foundations of Lean/TPS and TPM, we adopt the
                   principles of Lean thinking in our consulting projects across all industries and processes.<br>
                    Our well-versed consultants offer training programs filled with know-how on problem solving
                    for business challenges, leveraging their consultation experience.</i></p>
                </div>
        </div>
    </div>
    <div class="container-fluid px-0 overflow-hidden">
        
    </div>
</main>

{% endblock landing %}



