{% extends 'Navbar.html' %}{% load static %}{% block landing %}

<main>
    <!-- Top Carousel -->
    <div class="mt-4 pt-5">
        <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'assets/images/Banner 1.jpg' %}" alt="" class="responsive" style="height: 280px;">
                </div>
            </div>
                <div class="services_text" style="padding: 8% 8%;">
                    <center>
                    <h1 class="text-light" style="font-size: 5rem;"><b>TRAINING</b></h1>
                    </center>
                </div>
        </div>
    </div>
    <div class="container-fluid px-0 overflow-hidden">
        <!-- Content -->
        <div class="container">
            <br/>
            <h2 class="blue_heading" style="color: #093a8c;">Training for Manufacturers</h2>
            <p>JMAC offers a wide-range of training programs for manufacturers. These range from overall
            management techniques to shop floor techniques and are catered for with an executive level,
                middle management level, supervisor level, and operator level focus. Taking into
                account the challenges faced by each individual client, we design a customized training
                program based on actual needs.<br>Our well-versed consultants offer training programs
                filled with know-how on problem solving for business challenges, leveraging their
                consulting experience. Please contact us for further information.</p>
            <center>
                <img src="{% static 'assets/images/Manufacture.jpg' %}" alt="Manufacture Image"
                     class="image">
            </center>
            <h2><b>Training By Level</b></h2>
            <hr/>
                 <ul>
                    <li>Executive Course</li>
                    <li>General Manager Course</li>
                    <li>Manager Course</li>
                    <li>Supervisor Course</li>
                  </ul>
            <br/>
            <h2><b>Training by Function</b></h2>
            <hr/>
            <ul>
                <li>DRBFM (Design Review Based on Failure Mode)</li>
                <li>SCM</li>
                <li>Procurement (Advanced and Basic)</li>
                <li>Quality Control</li>
                <li>IE</li>
                <li>Production Control</li>
                <li>5S</li>
                <li>Safety</li>
             </ul>
            <br/>
            <h2><b>Human Skill</b></h2>
            <hr/>
            <ul>
                <li>Leadership</li>
                <li>Communication</li>
            </ul>
            <br/>
            <h2><b>Problem Solving</b></h2>
            <hr/>
            <ul>
                <li>Logical Thinking</li>
                <li>Problem Solving</li>
            </ul>
            <br/>
            <h2><b>Managerial Skill</b></h2>
            <hr/>
            <ul>
                <li>Process Control</li>
                <li>Business Planning</li>
                <li>KPI Management</li>
                <li>HR Management</li>
                <li>Accounting & Finance</li>
                <li>Individual Promotion Evaluation</li>
            </ul>
        </div>
        <h2 class="heading">Services</h2>
        <div class="mt-4 pt-5">
            <div class="carousel slide pointer-event" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img src="{% static 'assets/images/about_jmac.jpg' %}" alt="About GCCI Image"
                             class="services" style="max-height: 300px;">
                    </div>
                    <div class="services_text">
                        <div class="row services justify-content-md-center">
                        <center>
                            <h3 class="heading" style="font-size: 3rem; color: white;">Consulting</h3>
                            <div class="col-md-6">
                            <p>As the consulting firm that contributed to the foundations of Lean/TPS and TPM<sup>®</sup>,
                                we adopt the principles of Lean thinking in our consulting
                                projects across all industries and processes.</p>
                            </div>
                        </center>
                        </div>
                        <div class="row services">
                            <div class="col-md-12">
                                <a class="btn emptyBtn" style="max-width: 200px; height: 40px; font-size: 1.3rem;"
                                   href="">See More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Training-->
        <div class="row" style="background-color: #e6fbff; height: 35%;">
            <div class="container">
                <h1 class="image text-center"><b>TRAINING</b></h1>
                <p class="text-center">Our well-versed consultants offer training programs filled with know-how on problem solving for business challenges,
                    leveraging  their consultation experience.</p>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn train_Btn" href="">
                            <b>Training for Manufactures</b></a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn train_Btn" href="">
                            <b>P-Course</b></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn train_Btn" href="">
                            <b>Kart Factory</b></a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn train_Btn" href="" style="margin-bottom: 15%">
                            <b>TPM Training</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock landing %}