{% extends 'Navbar.html' %}{% load static %}{% block landing %}

<main>
    <!-- Top Carousel -->
    <div class="mt-4 pt-5">
        <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel" style="margin-bottom: 20px;">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'assets/images/Banner 2.jpg' %}"
                         alt="Banner Image 2" class="responsive" />
                </div>
                <div class="mainVisual_text" >
                    <p>NEWS</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0 overflow-hidden">
        <!-- Tabs -->
        <div class="row justify-content-md-center" id="tabs">
            <div class="col-md-10">
                <ul class="nav nav-tabs justify-content-md-center">
                    <li class="nav-item newspage">
                        <a class="nav-link active" aria-current="page" href="#">ALL</a>
                    </li>
                    <li class="nav-item newspage">
                        <a class="nav-link" href="#">NEWS & TOPICS</a>
                    </li>
                    <li class="nav-item newspage">
                        <a class="nav-link" href="#">SEMINAR/ EVENTS</a>
                    </li>
                    <li class="nav-item newspage">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">PRESS ROOM</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- NewsCards -->
        <div class="container row-lg-10 justify-content-center" style="margin-top: 20px; ">
            <div class="card-group justify-content-md-center">



                {% for news in data %}
                <div class="col-md-4 pr-md-1">
                    <div class="card newscard">
                        <h4 class="card-title">{{news.title}}
                            <span class="badge badge-pill badge-info">{{ news.created_date|date:'Y-m-d'}}</span></h4>
                        <p class="card-text" style="overflow-y:hidden;">{{ news.description|safe }}</p>
                        <!-- News Article page linked -->
                        <a href="{% url 'newsfull' %}" class="stretched-link"></a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</main>

{% endblock landing %}