{% extends 'Navbar.html' %}{% load static %}{% block landing %}

<main>
    <!-- Top Carousel -->
    <div class="mt-4 pt-5">
        <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel" style="margin-bottom: 20px;">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'assets/images/Banner 2.jpg' %}"
                         alt="Banner Image 2" class="responsive" />
                </div>
                <div class="mainVisual_text" >
                    <h2 style="font-size: 5rem; padding: 50px 50px;">NEWS</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0 overflow-hidden">
        <!-- Tabs -->
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <ul class="nav nav-tabs justify-content-md-center">
                    <li class="nav-item newspage">
                        <a class="nav-link active" aria-current="page" href="#">ALL</a>
                    </li>
                    <li class="nav-item newspage">
                        <a class="nav-link" href="#">NEWS & TOPICS</a>
                    </li>
                    <li class="nav-item newspage">
                        <a class="nav-link" href="#">SEMINAR/ EVENTS</a>
                    </li>
                    <li class="nav-item newspage">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">PRESS ROOM</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- NewsCards -->
        <div class="container row-lg-10 justify-content-center" style="margin-top: 20px; ">
            <div class="card-group justify-content-md-center">
                <div class="col-md-4 pr-md-1">
                    <div class="card newscard">
                        <h4 class="card-title">17 Sep 2019
                            <span class="badge badge-pill badge-info">Seminar/ Events</span></h4>
                        <p class="card-text" style="overflow-y:hidden;">KAIZEN for Business Improvement and Industrial Development in Africa you Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatum praesentium ipsam obcaecati eos, atque non, facere laboriosam Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente assumenda totam itaque mollitia recusandae quidem cumque ipsam asperiores. Quasi dolore, libero autem id harum ab mollitia maiores repellendus a dignissimos, fugiat odio maxime earum hic? Architecto nisi iusto nostrum debitis.  
                            can see it soon.</p>
                        <a href="" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-md-4 pl-md-1 pr-md-1">
                    <div class="card newscard">
                        <h4 class="card-title">17 Sep 2019
                            <span class="badge badge-pill badge-info">Seminar/ Events</span></h4>
                        <p class="card-text">Presentation at Maintenance and Resilience Asia on 4th October in Bangkok
                            Thailand.</p>
                        <a href="" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-md-4 pl-md-1 pr-md-1">
                    <div class="card newscard">
                        <h4 class="card-title">17 Sep 2019
                            <span class="badge badge-pill badge-info">Seminar/ Events</span></h4>
                        <p class="card-text">Presentation at Maintenance and Resilience Asia on 4th October in Bangkok
                            Thailand.</p>
                        <a href="" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container row-lg-10 justify-content-center" style="margin-top: 20px;">
            <div class="card-group justify-content-md-center">
                <div class="col-md-4 pr-md-1">
                    <div class="card newscard">
                        <h4 class="card-title">20 Aug 2020
                            <span class="badge badge-pill badge-info">NEWS/ Events</span></h4>
                        <p class="card-text">KAIZEN for Business Improvement and Industrial Development in Africa you
                            can see it soon.</p>
                        <a href="" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-md-4 pl-md-1 pr-md-1">
                    <div class="card newscard">
                        <h4 class="card-title">17 Sep 2019
                            <span class="badge badge-pill badge-info">Seminar/ Events</span></h4>
                        <p class="card-text">Presentation at Maintenance and Resilience Asia on 4th October in Bangkok Thailand.</p>
                        <a href="" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-md-4 pl-md-1 pr-md-1">
                    <div class="card newscard">
                        <h4 class="card-title">17 Sep 2019
                            <span class="badge badge-pill badge-info">Seminar/ Events</span></h4>
                        <p class="card-text">Presentation at Maintenance and Resilience Asia on 4th October in Bangkok
                            Thailand.</p>
                        <a href="" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container row-lg-10 justify-content-center" style="margin-top: 20px;">
            <div class="card-group justify-content-md-center">
                <div class="col-md-4 pr-md-1">
                    <div class="card newscard">
                        <h4 class="card-title">20 Aug 2020
                            <span class="badge badge-pill badge-info">NEWS/ Events</span></h4>
                        <p class="card-text">KAIZEN for Business Improvement and Industrial Development in Africa you
                            can see it soon.</p>
                        <a href="" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-md-4 pl-md-1 pr-md-1">
                    <div class="card newscard">
                        <h4 class="card-title">17 Sep 2019
                            <span class="badge badge-pill badge-info">Seminar/ Events</span></h4>
                        <p class="card-text">Presentation at Maintenance and Resilience Asia on 4th October in Bangkok
                            Thailand.</p>
                        <a href="" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-md-4 pl-md-1 pr-md-1">
                    <div class="card newscard">
                        <h4 class="card-title">17 Sep 2019
                            <span class="badge badge-pill badge-info">Seminar/ Events</span></h4>
                        <p class="card-text">Presentation at Maintenance and Resilience Asia on 4th October in Bangkok
                            Thailand.</p>
                        <a href="" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock landing %}