{% extends 'Navbar.html' %}{% load static %}{% block landing %}
<main>
    <!-- Top Carousel -->
    <div class="mt-4 pt-5">
        <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'assets/images/Banner 1.jpg' %}" alt="Consulting" class="responsive" style="max-height: 300px;">
                </div>
            </div>
                <div class="services_text" style="padding: 8% 8%;">
                    <h1 class="text-light text-center" style="font-size: 5rem;"><b>CONSULTING</b></h1>
                </div>
        </div>
    </div>
    <div class="container-fluid px-0 overflow-hidden">

        <!-- Organization & HR -->
        <div>
            <div class="container">
                <br/>
                <h2 class="blue_heading" style="color: #093a8c;"> Organization & HR</h2>
                <p>We support the establishment of an environment that leverages each individual employee as
                    a management resource for corporate climate innovation, HR system innovation, team activities,
                    personnel development, etc to create an organization and human asset that can contribute to
                    the business, management and society.</p>
                <p>Our goal is to create together with our clients "an organization that has the energy to
                    actively expand its activities linked with performance improvement" and "an organization that
                    is concerned with results, overflowing with knowledge and energy, and develops people”.</p>
                <p> JMAC places importance on the genba (actual place) even in the domains of organization,
                    HR development, and talent development. The reason is that we firmly believe to thoroughly
                    find the individual strengths of a company it is necessary to understand the genba.</p>

                <h2><b>Organizational Development</b></h2>
                <hr/>
                <p>We support the establishment of an environment that leverages each individual employee as a
                    management resource for corporate climate innovation, HR system innovation, team activities,
                    personnel development, etc to create an organization and human asset that can contribute to
                    the business, management and society.</p>
                <p>Our goal is to create together with our clients "an organization that has the energy to
                    actively expand its activities linked with performance improvement" and "an organization
                    that is concerned with results, overflowing with knowledge and energy, and develops people”.</p>
                <p> JMAC places importance on the genba (actual place) even in the domains of organization,
                    HR development, and talent development. The reason is that we firmly believe to thoroughly
                    find the individual strengths of a company it is necessary to understand the genba.</p>
                <h2><b>HRM</b></h2>
                <hr/>
                <p>We support the structure of various systems and policies in addition to the actual implementation
                    of personnel systems related to the management of the critically important resource to an
                    organization - the human resource.</p>
                <p>When structuring systems and policy, we consider the
                    ideal situation of HR management, and whilst incorporating your corporate philosophy
                    and business strategy, formulate a personnel strategy and vision that considers the various
                    actual state of affairs across each area of the company.</p>
                <p>JMAC also helps clients to design and implement grade systems, evaluation systems and
                    compensation tables.<br/>We can also offer training for HR staff.</p>
                <h2><b>HRD</b></h2>
                <hr/>
                <p>At JMAC we are activiely implementing the management theme of "global talent asset" as a way of
                    developing the human asset within companies through the systematic development of personnel
                    who can be utilized globally.</p>
                <p>JMAC provides consulting in the design and implementation of talent management,
                    succession planning, and evaluation training in individual promotion.</p>
                <center><img src="{% static 'assets/images/organizationHR.jpg' %}" alt="organization" class="image"></center>
            </div>
        </div>

         <!-- Services -->
        <h2 class="heading">Services</h2>
        <div class="mt-4 pt-5">
          <div class="carousel slide pointer-event" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img src="{% static 'assets/images/about_jmac.jpg' %}" alt="image" class="services" />
              </div>
              <div class="services_text">
                <div class="row services">
                  <center>
                    <h3 class="heading" style="font-size: 3rem; color: white">Consulting</h3>
                    <p>
                      As the consulting firm that contributed to the foundations of Lean/TPS and TPM<sup>®</sup>, <span class="br hiddenSp"></span>we adopt the principles of Lean thinking in our
                      consulting projects across all industries and processes.
                    </p>
                  </center>
                </div>
                <div class="row services">
                  <div class="col-md-6">
                    <a class="btn emptyBtn" style="margin-top: 8%; margin-right: 3%" href="{% url 'lean_manufacturing' %}"> Lean Manufacturing</a>
                  </div>
                  <div class="col-md-6">
                    <a class="btn emptyBtn" style="margin-top: 8%; margin-left: 3%" href="{% url 'smart_factory' %}"> Smart Factory / IoT</a>
                  </div>
                </div>
                <div class="row services">
                  <div class="col-md-12">
                    <a class="btn emptyBtn" href="">TPM</a>
                  </div>
                </div>
                <div class="row services">
                  <div class="col-md-6">
                    <a class="btn emptyBtn" style="margin-top: 8%; margin-right: 3%" href="{% url 'innovation_management' %}"> Innovation Management</a>
                  </div>
                  <div class="col-md-6">
                    <a class="btn emptyBtn" style="margin-top: 8%; margin-left: 3%" href="{% url 'services_and_sales' %}"> Service &amp; Sales Innovation</a>
                  </div>
                </div>
                <div class="row services">
                  <div class="col-md-6">
                    <a class="btn emptyBtn" style="margin-top: 8%; margin-right: 3%" href="{% url 'organization_and_hr' %}"> Organization &amp; HR</a>
                  </div>
                  <div class="col-md-6">
                    <a class="btn emptyBtn" style="margin-top: 8%; margin-left: 3%" href=""> Japan Market Entry</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Training -->
        <div style="background-color: #e6fbff;">
            <br>
            <h1 class="text-center" style="padding-top: 30px">Training</h1>
            <center>
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <p>Our well-versed consultants offer training programs filled with know-how on problem
                      solving for business challenges, leveraging their consultation experience.</p>
                  <a class="btn fillBtn" href="" style="margin-bottom: 80px">See More</a>
                </div>
              </div>
            </center>
        </div>
    </div>
</main>
 {% endblock landing %}