<!DOCTYPE html >
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>P-Course</title>

        <!--Bootstrap linked -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="stylefinal.css">
    </head>

    <body style="font-size: 1.2rem;">
    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="home.html">
                <img style="width: auto; height: 50px" src="images/GCCI%20Logo.png" alt="GCCI Web Site">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="home.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="">News</a></li>
                <li class="nav-item"><a class="nav-link" href="">About GCCI</a></li>
                <li class="nav-item"><a class="nav-link" href="">Our Journey</a></li>
                <li class="nav-item active"><a class="nav-link" href="servicesfinal.html">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="">Case Study</a></li>
                <li class="nav-item"><a class="nav-link" href="">Locations</a></li>
                <li class="nav-item"><a class="nav-link" href="">Contact Us</a></li>
            </ul>
            </div>
        </nav>
    </header>

    <main>
        <!-- Top Carousel -->
        <div class="mt-4 pt-5">
            <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                    <picture>
                        <source media="(min-width: 768px)" srcset="/images/Banner 1.jpg 1x, /images/Banner 2.jpg 2x">
                        <img src="images/Banner%201.jpg" alt="" class="responsive" style="max-height: 300px;">
                    </picture>
                    </div>
                </div>
                    <div class="services_text" style="padding: 8% 8%;">
                        <center>
                        <h1 class="text-light" style="font-size: 5rem;"><b>TRAINING</b></h1>
                        </center>
                    </div>
            </div>
        </div>

        <div class="container-fluid px-0 overflow-hidden">

            <!-- P-Course -->
            <div>
                <div class="container">
                    <br/>
                    <h2 class="blue_heading" style="color: #093a8c;">P-Course</h2>

                    <h2><b>Training by Level</b></h2>
                    <hr/>
                    <p>"The course was so interesting, but having it applied at our place will be a hard trial ...".
                        How many times back from a training course you have heard words like these or had such
                        thoughts?</p><br/>
                    <p>The PCourse is a training program with strong practical value, focused on Industrial Engineering.
                        The "P" in PCourse stands for "Production", but also "Productivity": departments as classrooms,
                        their problems become the training focus in the field. From the theoretical and practical
                        sessions of training on the job through the understanding, analysis and the application of
                        several industrial engineering principles and techniques, the results are a real and measurable
                        reduction of waste (muda), i.e. of losses in production departments.</p><br/>
                    <p>The PCourse was born in the 50s and was initially provided by Mr. S. Shingo of JMAC (JMA at the
                        time) for Toyota Motor Corporation and other companies in Japan. As of today hundreds of PCourse
                        have been paid by JMAC all over the world, including Europe, for plenty of companies.</p>
                    <p>The PCourse caters to all manufacturing companies, proposing methods, techniques and indicators
                        applicable to labor-intensive production systems (manual assembly) as well as to capital
                        intensive (equipment process based) productions. The curriculum involves a combination of
                        theoretical sessions (classroom) and practical training in the shop-floor, to ensure effective
                        learning with immediate application of the contents by the teams of attendants, who measure the
                        results and any related benefits obtained in the field.</p><br/>
                    <center>
                    <img src="images/pcourse.jpg" alt="P-COURSE Image"></center><br/><br/>

                    <h2><b>P-Courses allow:</b></h2>
                    <hr/>
                    <ul>
                        <li>real growth of the Industrial Engineering skills in the company<br/>
                            (as the backbone of operational 　excellence and Lean transformation)</li>
                        <li>the integration of "know how" with the knowledge delivered in more "traditional"
                            training programs</li>
                        <li>the application of operational work in teams</li>
                        <li>the achievement of results and measurable benefits for the company.</li>
                    </ul>
                </div>
            </div>

            <!-- Services -->
            <h2 class="heading">Services</h2>
            <div class="mt-4 pt-5">
                <div class="carousel slide pointer-event" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img src="images/about_jmac.jpg" alt="" class="services" style="max-height: 330px;">
                        </div>
                        <div class="services_text">
                            <div class="row services justify-content-md-center">
                            <center>
                                <h3 class="heading" style="font-size: 3rem; color: white;">Consulting</h3>
                                <div class="col-md-6">
                                <p>As the consulting firm that contributed to the foundations of Lean/TPS and TPM<sup>®</sup>,
                                    <span class="br"></span>we adopt the principles of Lean thinking in our consulting
                                    projects across all industries and processes.</p>
                                </div>
                            </center>
                            </div>
                            <div class="row services">
                                <div class="col-md-12">
                                    <a class="btn emptyBtn" style="max-width: 200px; height: 40px; font-size: 1.3rem;"
                                       href="">See More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Training -->
            <div class="row" style="background-color: #e6fbff; height: 35%;">
                <div class="container">
                    <h1 class="image text-center"><b>TRAINING</b></h1>
                    <p class="text-center">Our well-versed consultants offer training programs filled with know-how on
                        problem solving for business challenges, leveraging  their consultation experience.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn train_Btn" href="">
                                <b>Training for Manufactures</b></a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn train_Btn" href="">
                                <b>P-Course</b></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn train_Btn" href="">
                                <b>Kart Factory</b></a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn train_Btn" href="" style="margin-bottom: 15%">
                                <b>TPM Training</b></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Locations -->
            <h2 class="heading">Locations</h2>
            <center>
                <div class="row justify-content-center">
                    <p>JMAC currently has five subsidiaries; two in China, and one in Thailand, South Korea, and Italy respectively.
                       <br>We provide services in every country by dispatching consultants from any one of our global offices.</p>
                </div>
                <div>
                    <picture>
                      <source media="(min-width: 768px)" srcset="/images/Banner 1.jpg 1x, /images/Banner 2.jpg 2x">
                      <img src="images/img_locations.jpeg" alt="" class="map">
                  </picture>
                </div>
                <a class="btn fillBtn" href="">See More</a>
            </center>

            <!-- Global Offices -->
            <h3 class="heading" style="font-size: 4rem;">Global Offices</h3>
            <br><br>
            <div class="container-fluid">
                <div class="row justify-content-center" style="background-color: #e6fbff;">
                    <div class="col-md-2 mt-md-n5" style="padding-right: 1px; padding-left: 1px;">
                        <img class="globalimage" src="images/case%20studies%203.jpg" alt="">
                    </div>
                    <div class="col-md-2 mt-md-n5" style="padding-right: 1px; padding-left: 1px;">
                        <img class="globalimage" src="images/case%20studies%203.jpg" alt="">
                    </div>
                    <div class="col-md-2 mt-md-n5" style="padding-right: 1px; padding-left: 1px;">
                        <img class="globalimage" src="images/case%20studies%203.jpg" alt="">
                    </div>
                    <div class="col-md-2 mt-md-n5" style="padding-right: 1px; padding-left: 1px;">
                        <img class="globalimage" src="images/case%20studies%203.jpg" alt="" >
                    </div>
                    <a class="btn countrybtn">
                        <h1><b>OTHER COUNTRIES</b></h1>
                        <h5><b>CONTACT US</b></h5>
                    </a>
                </div>
            </div>
        </div>
    </main>

    <footer style="background-color: #21489e;">
        <center>
            <img src="images/footer.jpeg" alt="" class="footer">
            <div class="container-fluid text-light">
            <div class="row justify-content-md-center" style="padding-bottom: 1%;">
                <div class="col-md-1">
                    <a class="text-light" href="">About GCCI</a>
                </div>
                <div class="col-md-1">
                    <a class="text-light" href="">CSR</a>
                </div>
                <div class="col-md-1">
                    <a class="text-light"  href="">Services</a>
                </div>
                <div class="col-md-1">
                    <a class="text-light"  href="">Policy</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>TPM is trademark or registered trademark of Japan Institute of Plant Maintenance (JIPM).<br/>
                    <small>Copyright (C) JMA Consultants Inc. All Rights Reserved.</small></p>
                </div>
            </div>
            </div>
        </center>
    </footer>
  </body>
</html>