{% extends 'Navbar.html' %}{% load static %}{% block landing %}

<main>
    <!-- Top Carousel -->
    <div class="mt-4 pt-5">
        <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'assets/images/Banner 1.jpg' %}" alt="Banner Image 1"
                         class="responsive" style="max-height: 300px;">
                </div>
            </div>
                <div class="services_text" style="padding: 8% 8%;">
                    <center>
                    <h1 class="text-light" style="font-size: 5rem;"><b>TRAINING</b></h1>
                    </center>
                </div>
        </div>
    </div>

    <div class="container-fluid px-0 overflow-hidden">

        <!-- P-Course -->
        <div>
            <div class="container">
                <br/>
                <h2 class="blue_heading" style="color: #093a8c;">P-Course</h2>

                <h2><b>Training by Level</b></h2>
                <hr/>
                <p>"The course was so interesting, but having it applied at our place will be a hard trial ...".
                    How many times back from a training course you have heard words like these or had such
                    thoughts?</p><br/>
                <p>The PCourse is a training program with strong practical value, focused on Industrial Engineering.
                    The "P" in PCourse stands for "Production", but also "Productivity": departments as classrooms,
                    their problems become the training focus in the field. From the theoretical and practical
                    sessions of training on the job through the understanding, analysis and the application of
                    several industrial engineering principles and techniques, the results are a real and measurable
                    reduction of waste (muda), i.e. of losses in production departments.</p><br/>
                <p>The PCourse was born in the 50s and was initially provided by Mr. S. Shingo of JMAC (JMA at the
                    time) for Toyota Motor Corporation and other companies in Japan. As of today hundreds of PCourse
                    have been paid by JMAC all over the world, including Europe, for plenty of companies.</p>
                <p>The PCourse caters to all manufacturing companies, proposing methods, techniques and indicators
                    applicable to labor-intensive production systems (manual assembly) as well as to capital
                    intensive (equipment process based) productions. The curriculum involves a combination of
                    theoretical sessions (classroom) and practical training in the shop-floor, to ensure effective
                    learning with immediate application of the contents by the teams of attendants, who measure the
                    results and any related benefits obtained in the field.</p><br/>

                <center>
                <img src="{% static 'assets/images/pcourse.jpg' %}" alt="P-COURSE Image"></center><br/><br/>

                <h2><b>P-Courses allow:</b></h2>
                <hr/>
                <ul>
                    <li>real growth of the Industrial Engineering skills in the company<br/>
                        (as the backbone of operational 　excellence and Lean transformation)</li>
                    <li>the integration of "know how" with the knowledge delivered in more "traditional"
                        training programs</li>
                    <li>the application of operational work in teams</li>
                    <li>the achievement of results and measurable benefits for the company.</li>
                </ul>
            </div>
        </div>

        <!-- Services -->
        <h2 class="heading">Services</h2>
        <div class="mt-4 pt-5">
            <div class="carousel slide pointer-event" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img src="{% static 'assets/images/about_jmac.jpg' %}" alt="About GCCI Image"
                             class="services" style="max-height: 330px;">
                    </div>
                    <div class="services_text">
                        <div class="row services justify-content-md-center">
                        <center>
                            <h3 class="heading" style="font-size: 3rem; color: white;">Consulting</h3>
                            <div class="col-md-6">
                            <p>As the consulting firm that contributed to the foundations of Lean/TPS and TPM<sup>®</sup>,
                                <span class="br"></span>we adopt the principles of Lean thinking in our consulting
                                projects across all industries and processes.</p>
                            </div>
                        </center>
                        </div>
                        <div class="row services">
                            <div class="col-md-12">
                                <a class="btn emptyBtn" style="max-width: 200px; height: 40px; font-size: 1.3rem;"
                                   href="">See More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Training -->
        <div class="row" style="background-color: #e6fbff; height: 35%;">
            <div class="container">
                <h1 class="image text-center"><b>TRAINING</b></h1>
                <p class="text-center">Our well-versed consultants offer training programs filled with know-how on
                    problem solving for business challenges, leveraging  their consultation experience.</p>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn train_Btn" href="{% url 'training_for_manufacture' %}">
                            <b>Training for Manufactures</b></a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn train_Btn" href="{% url 'p_course' %}">
                            <b>P-Course</b></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn train_Btn" href="{% url 'kart_factory' %}">
                            <b>Kart Factory</b></a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn train_Btn" href="" style="margin-bottom: 15%">
                            <b>TPM Training</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock landing %}