<!DOCTYPE html >
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sales And Innovation</title>

        <!--Bootstrap linked -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="stylefinal.css">
    </head>

    <body>
    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="home.html">
                <img style="width: auto; height: 50px" src="images/GCCI%20Logo.png" alt="GCCI Web Site">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="home.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="">News</a></li>
                <li class="nav-item"><a class="nav-link" href="">About GCCI</a></li>
                <li class="nav-item"><a class="nav-link" href="">Our Journey</a></li>
                <li class="nav-item active"><a class="nav-link" href="servicesfinal.html">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="">Case Study</a></li>
                <li class="nav-item"><a class="nav-link" href="">Locations</a></li>
                <li class="nav-item"><a class="nav-link" href="">Contact Us</a></li>
            </ul>
            </div>
        </nav>
    </header>

    <main>
        <!-- Top Carousel -->
        <div class="mt-4 pt-5">
            <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img src="images/Banner%201.jpg" alt="" class="responsive" style="max-height: 300px;">
                    </div>
                </div>
                    <div class="services_text" style="padding: 8% 8%;">
                        <h1 class="text-light text-center" style="font-size: 5rem;"><b>CONSULTING</b></h1>
                    </div>
            </div>
        </div>
        <div class="container-fluid px-0 overflow-hidden">

            <!-- Sales Innovation -->
            <div>
                <div class="container">
                    <br/>
                    <h2 class="blue_heading" style="color: #093a8c;">Service & Sales Innovation</h2>
                    <p>As an advocating organization for CS (Customer Satisfaction) management, JMAC has accumulated
                        specialized techniques through our support for the promotion of corporate innovation starting
                        from and based upon customer needs. In order to realize maximum customer value in your company,
                        it is a prerequisite to optimize and harmonize all your contact channels
                        (sales, retail, call-centre, after-sales). JMAC can help your organization strengthen
                        its marketing activities by supporting strategy formulation, work process design and innovation,
                        and organizational and personnel revitalization.</p>

                    <center><img src="./images/servicesales.jpg" alt="" class="image"></center>
                    <h2><b>Sales Force Enhancement</b></h2>
                    <hr/>
                    <p>Sales force enhancement is said to be a key issue in determining a corporate’s competitiveness.
                        However, this area is also said to be one of the most difficult area for any improvement.
                        To ensure an improvement with actual output, it is necessary to optimize “Strategy”
                        “ Management” & “Skill” in sales department. JMAC works together with company sales personnel
                        in the front line & provides appropriate solution to realize the optimization
                        of the abovementioned aspects.</p>
                    <h2><b>Service & Operation Enhancement</b></h2>
                    <hr/>
                    <p>Service differs from physical objects in character such as intangible (has no shapes),
                        synchronism (production and consumption happen simultaneously), and inhomogeneity
                        (depens on people, and unevenness happens easily). But, it has been managed by approaches
                        used to manage quality of physical objects. As a result, quality control for service & service
                        oriented operation is an issue.</p>
                    <p>In JMAC, we have expertise in quality enhancement specific
                        to the characteristics of service and operation through our many years of experience in CS
                        enhancement support to our clients.</p>
                    <p>Utilizing this expertise, JMAC provides unique
                        solution to enhance overall service & operation quality covering from planning, designing
                        to implementation, refine & review.</p>
                    <h2><b>Call Center Innovation</b></h2>
                    <hr/>
                    <p>Call center carries high expectation as direct contact point with valuable customers.
                        However, if we look at the result, CS & response quality are not improving & cost reduction
                        is also hard to materialize. Furthermore, as contrary to the high expectation as front line to
                        collect voices from customers, call centers are having problem with high turnover rate & staff
                        development, as they are exhausted by dairy operation, it is very difficult to eliminate the
                        gap between expectation to contribute to business & actual operation.<br/>
                        From the viewpoints of CS enhancement, cost reduction & contribution to other departments,
                        JMAC provides appropriate solutions in each phase from set up/consolidation to stable operation
                        & further improvement to realize a more strategic call center</p>
                    <h2><b>Dealer Process Improvement</b></h2>
                    <hr/>
                    <p>Many companies are not aware of the importance of after-sales services. Actually, the service
                        profitability gap is higher between stores than for the sales division and the service
                        profitability significantly contributes to repurchase probability.</p>
                    <p>At worksites, employees are working overtime and doing their best, but this is not reflected
                        in the results.</p>
                    <p>JMAC’s Dealer Process Improvement (DPI) will:</p>
                    <ul>
                        <li>Improve business processes (how work is carried out);</li>
                        <li>Integrate the large amount of information that is distributed across worksites or among staff;</li>
                        <li>Promote the standardization and sharing of best practices;</li>
                        <li>Enhance employee capabilities and customer service attitudes; and</li>
                        <li>Promote the diffusion of skills necessary for enhancing customer satisfaction accross the business organization</li>
                    </ul>
                    <p>Companies will be able to achieve the following by implementing the JMAC dealer reform program (DPI):</p>
                    <ol>
                        <li>Changes to the service quality offered to customers (enhanced customer services)</li>
                        <li>Change to a more profitable business structure (enhanced sales/profits)</li>
                        <li>Change in motivation of employees (enhanced ES)</li>
                    </ol>
                </div>
            </div>

             <!-- Services -->
            <h2 class="heading">Services</h2>
            <div class="mt-4 pt-5">
              <div class="carousel slide pointer-event" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img src="images/about_jmac.jpg" alt="" class="services" />
                  </div>
                  <div class="services_text">
                    <div class="row services">
                      <center>
                        <h3 class="heading" style="font-size: 3rem; color: white">Consulting</h3>
                        <p>
                          As the consulting firm that contributed to the foundations of Lean/TPS and TPM<sup>®</sup>, <span class="br hiddenSp"></span>we adopt the principles of Lean thinking in our
                          consulting projects across all industries and processes.
                        </p>
                      </center>
                    </div>
                    <div class="row services">
                      <div class="col-md-6">
                        <a class="btn emptyBtn" style="margin-top: 8%; margin-right: 3%" href="Lean_Manufacture.html"> Lean Manufacturing</a>
                      </div>
                      <div class="col-md-6">
                        <a class="btn emptyBtn" style="margin-top: 8%; margin-left: 3%" href="smartfactory.html"> Smart Factory / IoT</a>
                      </div>
                    </div>
                    <div class="row services">
                      <div class="col-md-12">
                        <a class="btn emptyBtn" href="">TPM</a>
                      </div>
                    </div>
                    <div class="row services">
                      <div class="col-md-6">
                        <a class="btn emptyBtn" style="margin-top: 8%; margin-right: 3%" href="Innovation_Management.html"> Innovation Management</a>
                      </div>
                      <div class="col-md-6">
                        <a class="btn emptyBtn" style="margin-top: 8%; margin-left: 3%" href="SalesAndInnovation.html"> Service &amp; Sales Innovation</a>
                      </div>
                    </div>
                    <div class="row services">
                      <div class="col-md-6">
                        <a class="btn emptyBtn" style="margin-top: 8%; margin-right: 3%" href="organization_hr.html"> Organization &amp; HR</a>
                      </div>
                      <div class="col-md-6">
                        <a class="btn emptyBtn" style="margin-top: 8%; margin-left: 3%" href="Japan_Market.html"> Japan Market Entry</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Training -->
            <div style="background-color: #e6fbff;">
                <br>
                <h1 class="text-center" style="padding-top: 30px">Training</h1>
                <center>
                  <div class="row justify-content-center">
                    <div class="col-md-6">
                      <p>Our well-versed consultants offer training programs filled with know-how on problem
                          solving for business challenges, leveraging their consultation experience.</p>
                      <a class="btn fillBtn" href="" style="margin-bottom: 80px">See More</a>
                    </div>
                  </div>
                </center>
            </div>

            <!-- Locations -->
            <h2 class="heading">Locations</h2>
            <center>
                <div class="row justify-content-center">
                    <p>JMAC currently has five subsidiaries; two in China, and one in Thailand, South Korea, and Italy respectively.
                       <br>We provide services in every country by dispatching consultants from any one of our global offices.</p>
                </div>
                <div>
                    <picture>
                      <source media="(min-width: 768px)" srcset="/images/Banner 1.jpg 1x, /images/Banner 2.jpg 2x">
                      <img src="images/img_locations.jpeg" alt="" class="map">
                  </picture>
                </div>
                <a class="btn fillBtn" href="">See More</a>
            </center>

            <!-- Global Offices -->
            <h3 class="heading" style="font-size: 4rem;">Global Offices</h3>
            <br><br>
            <div class="container-fluid">
                <div class="row justify-content-center" style="background-color: #e6fbff;">
                    <div class="col-md-2 mt-md-n5" style="padding-right: 1px; padding-left: 1px;">
                        <img class="globalimage" src="images/case%20studies%203.jpg" alt="">
                    </div>
                    <div class="col-md-2 mt-md-n5" style="padding-right: 1px; padding-left: 1px;">
                        <img class="globalimage" src="images/case%20studies%203.jpg" alt="">
                    </div>
                    <div class="col-md-2 mt-md-n5" style="padding-right: 1px; padding-left: 1px;">
                        <img class="globalimage" src="images/case%20studies%203.jpg" alt="">
                    </div>
                    <div class="col-md-2 mt-md-n5" style="padding-right: 1px; padding-left: 1px;">
                        <img class="globalimage" src="images/case%20studies%203.jpg" alt="" >
                    </div>
                    <a class="btn countrybtn">
                        <h1><b>OTHER COUNTRIES</b></h1>
                        <h5><b>CONTACT US</b></h5>
                    </a>
                </div>
            </div>
        </div>
    </main>

    <footer style="background-color: #21489e;">
        <center>
            <img src="images/footer.jpeg" alt="" class="footer">
            <div class="container-fluid text-light">
            <div class="row justify-content-md-center" style="padding-bottom: 1%;">
                <div class="col-md-1">
                    <a class="text-light" href="">About GCCI</a>
                </div>
                <div class="col-md-1">
                    <a class="text-light" href="">CSR</a>
                </div>
                <div class="col-md-1">
                    <a class="text-light"  href="">Services</a>
                </div>
                <div class="col-md-1">
                    <a class="text-light"  href="">Policy</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>TPM is trademark or registered trademark of Japan Institute of Plant Maintenance (JIPM).<br/>
                    <small>Copyright (C) JMA Consultants Inc. All Rights Reserved.</small></p>
                </div>
            </div>
            </div>
        </center>
    </footer>
  </body>
</html>