{% extends 'Navbar.html' %}{% load static %}{% block landing %}

<main>
    <!-- Top Carousel -->
    <div class="mt-4 pt-5">
        <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'assets/images/Banner 1.jpg' %}" alt="Banner Image 1"
                         class="responsive" style="max-height: 300px;">
                </div>
            </div>
            <div class="services_text" style="padding: 8% 8%;">
                <center>
                <h1 class="text-light" style="font-size: 5rem;"><b>CONSULTING</b></h1>
                </center>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0 overflow-hidden">

        <!-- Smart-Factory and IOT -->
        <div>
            <div class="container">
                <br/>
                <h2 class="blue_heading" style="color: #093a8c;">Smart Factory & IOT</h2>
                <p>The topical keywords of IoT (Internet of Things) and Industry 4.0 are new concepts that will
                    guide manufacturing to the future.JMAC are currently providing consulting to our clients in the
                    following three fields:</p>
                <ol>
                    <li>Smart Factory Grand Design Creation Consulting</li>
                    <li>Smart Analytics Consulting</li>
                    <li>Business Model Structure Creation Consulting Using IoT/ICT</li>
                </ol>

                <ol>
                    <h2><li><b>Smart Factory Grand Design Creation Consulting</b></li></h2><hr/>
                    <p>We are supporting the grand design of smart factories that further emphasizes our clients'
                        strength in monodzukuri. Smart factories consist of five layers. An approach with this
                        understanding of these layers is necessary.</p><br/>
                    <center>
                        <img src="{% static 'assets/images/smartfactory.jpg' %}" alt="Smart factory image"
                             style="width: 500px; height: auto;"><br/><br/>
                    </center>
                    <p>In layers four and five, individual pieces of information are connected in real time, and
                        dramatically increase the speed of kaizen. But smart factories cannot be achieved through
                        only focusing on these layers. It is necessary to understand how to establish and integrate
                        the various functions utilizing the specific strengths of your organization in production
                        systems (process allocation, production planning, automation), information, management,
                        and more.</p>
                    <p>In addition, it is necessary to increase both the level of IT, ICT and IoT usage and level
                        of operations. With minimal IT, ICT and IoT investment, it is possible to implement a smart
                        factory that is appropriate for the specific competitive needs of your company.</p>

                    <h2><li><b>Smart Analytics Consulting</b></li></h2><hr/>
                    <p>JMAC is providing consulting services that assist in understanding in real-time the
                        status of IoT.</p>
                    <ol>
                        <h4 class="headingbg"><li>IoT Visualization Consulting</li></h4>
                        <p>There are five fields of visulaization themes which all utilize the IoT ability for
                            continuous and real-time monitoring.</p>
                        <p>Five Visulaization Themes of IoT</p>
                        <p>Theme 1: Visualization of Human Motion & Current Status<br/>
                            Theme 2: Visualization of Item Movement & Current Status<br/>
                            Theme 3: Visualization of Equipment Operation & Current Status<br/>
                            Theme 4: Visualization of Shop Floor History & Future<br/>
                            Theme 5: Visualization of Utilized Technologies</p>
                        <p>In providing our consulting services, we focus less on the broad-scope application of
                            IoT tools and instead, where possible, select opportunities familiar to our client.
                            We propose support based on your specific visulization themes, so please do not
                            hesitate to contact us.</p>
                        <h4><b>Genba IoT Seven Tools</b></h4>
                        <p>The Genba IoT Seven Tools are used to connect various items on the shop floor to the
                            internet, simultaneously visualize the shop floor status and conduct analysis. They are
                            particularly useful in transfering into data the status of older equipment that does not
                            have communication capability, or the work of people that can be difficult to capture
                            in a digital format.</p>
                        <p><ol>
                            <li>IoL (Location): Location Analysis<br/>
                                Simultaneously traces the movement of people and material to understand the optimal
                                movement path, number of people and number of material handling vehicles.<br/>
                            </li>
                            <li>IoL (Location): Location Analysis<br/>
                                Simultaneously traces the movement of people and material to understand the optimal
                                movement path, number of people and number of material handling vehicles.<br/>
                            </li>
                            <li>IoL (Location): Location Analysis<br/>
                                Simultaneously traces the movement of people and material to understand the optimal
                                movement path, number of people and number of material handling vehicles.<br/>
                            </li>
                            <li>IoL (Location): Location Analysis<br/>
                                Simultaneously traces the movement of people and material to understand the optimal
                                movement path, number of people and number of material handling vehicles.<br/>
                            </li>
                            <li>IoL (Location): Location Analysis<br/>
                                Simultaneously traces the movement of people and material to understand the optimal
                                movement path, number of people and number of material handling vehicles.<br/>
                            </li>
                            <li>IoL (Location): Location Analysis<br/>
                                Simultaneously traces the movement of people and material to understand the optimal
                                movement path, number of people and number of material handling vehicles.<br/>
                            </li>
                            <li>IoL (Location): Location Analysis<br/>
                                Simultaneously traces the movement of people and material to understand the optimal
                                movement path, number of people and number of material handling vehicles.<br/>
                            </li>
                        </ol></p>

                        <h4 class="headingbg"><li>Big Data Advanced Analysis & Value-Adding Consulting</li></h4>
                        <p>We provide consulting services to realize the benefits of problem solving of issues
                            identified through the Five Visualization Themes of IoT.</p>
                    </ol>
                    <p></p>

                    <h2><li><b>Business Model Structure Creation Consulting Using IoT/ICT</b></li></h2><hr/>
                    <p>JMAC believes that the application of IoT is the next essential development phase for
                        productivity improvement, new sales and business model creation.</p>
                    <p>We support the creation of a business model using the competitive strength of monodzukuri.</p>
                </ol>
            </div>
        </div>

        <!-- Video link -->
        <div class="container" style="margin-top: 100px;">
            <center>
                <h3>Watch the video clip of IoT 7 tools</h3>
                <iframe width="850" height="500" src="https://www.youtube.com/embed/WMweEpGlu_U"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                        picture-in-picture" allowfullscreen>
                </iframe>
            </center>
            <p>(*) Kart Factory by JMAC ® is a registered trademark of JMAC Europe.</p>
        </div>

        <!-- Services -->
        <h2 class="heading">Services</h2>
        <div class="mt-4 pt-5">
            <div class="carousel slide pointer-event" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img src="{% static 'assets/images/about_jmac.jpg' %}" alt="" class="services" />
                    </div>
                    <div class="services_text">
                        <div class="row services">
                            <center>
                                <h3 class="heading" style="font-size: 3rem; color: white">Consulting</h3>
                                <p>As the consulting firm that contributed to the foundations of Lean/TPS and TPM<sup>®</sup>,
                                    we adopt the principles of Lean thinking in our consulting projects across all
                                    industries and processes. </p>
                            </center>
                        </div>
                        <div class="row services">
                            <div class="col-md-6">
                                <a class="btn emptyBtn" style="margin-top: 8%; margin-right: 3%;" href="{% url 'lean_manufacturing' %}">
                                    Lean Manufacturing</a>
                            </div>
                            <div class="col-md-6">
                                <a class="btn emptyBtn" style="margin-top: 8%; margin-left: 3%;" href="{% url 'smart_factory' %}">
                                    Smart Factory / IoT</a>
                            </div>
                        </div>
                        <div class="row services">
                            <div class="col-md-12">
                                <a class="btn emptyBtn" href="">TPM</a>
                            </div>
                        </div>
                        <div class="row services">
                            <div class="col-md-6">
                                <a class="btn emptyBtn" style="margin-top: 8%; margin-right: 3%;" href="{% url 'innovation_management' %}">
                                    Innovation Management</a>
                            </div>
                            <div class="col-md-6">
                                <a class="btn emptyBtn" style="margin-top: 8%; margin-left: 3%;" href="{% url 'services_and_sales' %}">
                                    Service &amp; Sales Innovation</a>
                            </div>
                        </div>
                        <div class="row services">
                            <div class="col-md-6">
                                <a class="btn emptyBtn" style="margin-top: 8%; margin-right: 3%;" href="{% url 'organization_and_hr' %}">
                                    Organization &amp; HR</a>
                            </div>
                            <div class="col-md-6">
                                <a class="btn emptyBtn" style="margin-top: 8%; margin-left: 3%;" href="">
                                    Japan Market Entry</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Training -->
        <div style="background-color: #e6fbff;">
            <br>
            <h1 class="text-center" style="padding-top: 30px">Training</h1>
            <center>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <p>Our well-versed consultants offer training programs filled with know-how on problem
                              solving for business challenges, leveraging their consultation experience.</p>
                        <a class="btn fillBtn" href="" style="margin-bottom: 80px">See More</a>
                    </div>
                </div>
            </center>
        </div>
    </div>
</main>

{% endblock landing %}
